In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_ordres=pd.read_csv('olist_orders_dataset.csv')

In [3]:
df_payments =pd.read_csv('olist_order_payments_dataset.csv')

In [4]:
df_customers = pd.read_csv('olist_customers_dataset.csv')

## Exploration

In [5]:
df_ordres.shape

(99441, 8)

In [6]:
df_ordres

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28 00:00:00
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02 00:00:00
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27 00:00:00
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15 00:00:00
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03 00:00:00

### Valeurs manquantes :

In [7]:
df_ordres.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                 160
order_delivered_carrier_date     1783
order_delivered_customer_date    2965
order_estimated_delivery_date       0
dtype: int64

==> étant donné que nous allons s'interesser uniquement à quelques colonnes notamment aux colonnes : 'order_id', 'customer_id', 'order_status', 'order_purchase_timestamp' SANS NAN donc pas de traitement à faire

In [8]:
df_payments.isna().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [9]:
## Eliminer les commandes annulées et indisponible
df_ordres.drop(df_ordres.loc[df_ordres['order_status']=='unavailable'].index, inplace=True)
df_ordres.drop(df_ordres.loc[df_ordres['order_status']=='canceled'].index, inplace=True)

In [10]:
df_ordres['order_status'].unique()

array(['delivered', 'invoiced', 'shipped', 'processing', 'created',
       'approved'], dtype=object)

In [11]:
df_ordres.columns

Index(['order_id', 'customer_id', 'order_status', 'order_purchase_timestamp',
       'order_approved_at', 'order_delivered_carrier_date',
       'order_delivered_customer_date', 'order_estimated_delivery_date'],
      dtype='object')

In [12]:
df_payments.columns

Index(['order_id', 'payment_sequential', 'payment_type',
       'payment_installments', 'payment_value'],
      dtype='object')

In [13]:
#définir une fonction pour vérifier l'unicité de valeurs dans une colonne
def unicite(nomColonne) :
    return len(nomColonne.unique())==len(nomColonne)

In [14]:
unicite(df_ordres['order_id'])

True

In [15]:
unicite(df_payments['order_id'])

False

==> beaucoup de payments pour le meme order-id dans la table payments

In [16]:
# creer un tableau avec des fonc d'agg differentes
df_payments_f=df_payments.groupby('order_id').agg({'payment_installments':'first','payment_value':'sum'})

In [17]:
#convertir la colonne order_id en colonne (avant colonne index)
df_payments_f.reset_index(level=0, inplace=True)

In [18]:
#creer le tableau MyOrder = Order_id+customer_id+date_commande(order purchase timestamp)+montant_commande(payment value)
# on prend uniquement les "order_id" présents dans la table orders
oder_df = pd.merge(left=df_ordres, right=df_payments_f, how='inner', on='order_id')

In [19]:
oder_df.isna().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                  19
order_delivered_carrier_date      624
order_delivered_customer_date    1737
order_estimated_delivery_date       0
payment_installments                0
payment_value                       0
dtype: int64

In [20]:
 df_my_orders=oder_df[['order_id', 'customer_id', 'order_purchase_timestamp','payment_value','payment_installments']]

In [21]:
#Créer  LA TABLE CUSTOMER_ID ET CUSTOMER_UNIQUE_ID

In [22]:
df_customers.isna().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [23]:
df_cust_uniq =df_customers[['customer_id', 'customer_unique_id']]

In [24]:
#Merger la teable df_cut_uniq avec df_my_orders

In [25]:
my_order_df = pd.merge(left=df_my_orders, right=df_cust_uniq, how='left', on='customer_id')

In [26]:
my_order_df.isna().sum()

order_id                    0
customer_id                 0
order_purchase_timestamp    0
payment_value               0
payment_installments        0
customer_unique_id          0
dtype: int64

In [27]:
my_order_df.columns

Index(['order_id', 'customer_id', 'order_purchase_timestamp', 'payment_value',
       'payment_installments', 'customer_unique_id'],
      dtype='object')

In [28]:
#Préparer la colonne review score commande
review= pd.read_csv('olist_order_reviews_dataset.csv')

In [29]:
review.isna().sum()

review_id                      0
order_id                       0
review_score                   0
review_comment_title       87656
review_comment_message     58247
review_creation_date           0
review_answer_timestamp        0
dtype: int64

In [30]:
review.columns

Index(['review_id', 'order_id', 'review_score', 'review_comment_title',
       'review_comment_message', 'review_creation_date',
       'review_answer_timestamp'],
      dtype='object')

In [31]:
review_score_c=review[['order_id', 'review_score']]

In [32]:
unicite(review_score_c['order_id'])

False

In [33]:
review_score_c

                               order_id  review_score
0      73fc7af87114b39712e6da79b0a377eb             4
1      a548910a1c6147796b98fdf73dbeba33             5
2      f9e4b658b201a9f2ecdecbb34bed034b             5
3      658677c97b385a9be170737859d3511b             5
4      8e6bfb81e283fa7e4f11123a3fb894f1             5
...                                 ...           ...
99219  2a8c23fee101d4d5662fa670396eb8da             5
99220  22ec9f0669f784db00fa86d035cf8602             5
99221  55d4004744368f5571d1f590031933e4             5
99222  7725825d039fc1f0ceb7635e3f7d9206             4
99223  90531360ecb1eec2a1fbb265a0db0508             1

[99224 rows x 2 columns]

In [34]:
review_score_c= review_score_c.groupby('order_id').mean()

In [35]:
review_score_c

                                  review_score
order_id
00010242fe8c5a6d1ba2dd792cb16214           5.0
00018f77f2f0320c557190d7a144bdd3           4.0
000229ec398224ef6ca0657da4fc703e           5.0
00024acbcdf0a6daa1e931b038114c75           4.0
00042b26cf59d7ce69dfabb4e55b4fd9           5.0
...                                        ...
fffc94f6ce00a00581880bf54a75a037           5.0
fffcd46ef2263f404302a634eb57f7eb           5.0
fffce4705a9662cd70adb13d4a31832d           5.0
fffe18544ffabc95dfada21779c9644f           5.0
fffe41c64501cc87c801fd61db3f6244           5.0

[98673 rows x 1 columns]

In [36]:
# Table my_ordre  à prévoir 
## joindre la colonne review score commande
df_my_orders_futur = pd.merge(left=my_order_df,right=review_score_c,how='left',on='order_id')

In [37]:
df_my_orders_futur.isna().sum()

order_id                      0
customer_id                   0
order_purchase_timestamp      0
payment_value                 0
payment_installments          0
customer_unique_id            0
review_score                734
dtype: int64

In [38]:
df_my_orders_futur.columns

Index(['order_id', 'customer_id', 'order_purchase_timestamp', 'payment_value',
       'payment_installments', 'customer_unique_id', 'review_score'],
      dtype='object')

In [39]:
df_my_orders_futur.isna().sum()

order_id                      0
customer_id                   0
order_purchase_timestamp      0
payment_value                 0
payment_installments          0
customer_unique_id            0
review_score                734
dtype: int64

In [40]:
#date ref est la date de toute dernière commande de la table my_orders donc la plus récente
from datetime import timedelta, date

my_order_df['order_purchase_timestamp'] = pd.to_datetime(my_order_df['order_purchase_timestamp'])


my_order_df=my_order_df.sort_values('order_purchase_timestamp',ascending=True)
date_ref = my_order_df['order_purchase_timestamp'].iloc[-1] 

## créer une nouvelle colonne date dif
df_my_orders_futur['date_diff']= my_order_df['order_purchase_timestamp'].apply(lambda date: date_ref - date)

# prendre uniquement les jours
df_my_orders_futur['date_diff']=df_my_orders_futur['date_diff'].apply(lambda date: date.days)

In [41]:
df_my_orders = df_my_orders_futur[['order_id', 'customer_unique_id','customer_id', 'order_purchase_timestamp', 'payment_value']]

In [42]:
#RFM:
#customer_unique_id, nombre_de_commandes, date_depuis_la_derniere_commande, montant_total_client

In [43]:
df_pre_my_customer =df_my_orders_futur[['order_id', 'customer_unique_id', 'customer_id', 'payment_value','date_diff']]

In [44]:
#customer_id, nombre_de_commandes, date_depuis_la_derniere_commande, montant_total_client
df_my_customer=df_pre_my_customer.groupby('customer_unique_id').agg({'order_id':'count','payment_value':'sum','date_diff':'first'})

In [45]:
df_my_customer.isna().sum()

order_id         0
payment_value    0
date_diff        0
dtype: int64

In [46]:
df_my_customer.reset_index(level=0, inplace=True)

In [47]:
#renommer la colonne order id en nombre de commande
df_my_customer.rename(columns={'order_id':'nbr_orders'},inplace=True)

In [48]:
df_my_customer.sort_values(by='date_diff', ascending=False)

                     customer_unique_id  nbr_orders  payment_value  date_diff
68302  b7d76e111c89f7ebf14761390f0f7d17           1         136.23        728
42995  7390ed59fa1febbfda31a80b4318c8cb           1         154.57        699
6331   10e89fd8e5c745f81bec101207ba4d7d           1          92.27        699
52325  8d3a54507421dbd2ce0a1d58046826e0           1         133.46        699
17675  2f64e403852e6893ae37485d5fcacdaf           1          39.09        699
...                                 ...         ...            ...        ...
1534   0421e7a23f21e5d54efed456aedbc513           1         119.42          4
34436  5c58de6fb80e93396e2f35642666b693           1         510.96          4
12649  21dbe8eabd00b34492a939c540e2b1a7           1          14.29          4
47585  7febafa06d9d8f232a900a2937f04338           1          61.29          4
13676  24ac2b4327e25baf39f2119e4228976a           1          93.75          4

[94989 rows x 4 columns]

In [49]:
df_my_customer['nbr_orders'].value_counts()

1     92101
2      2652
3       188
4        29
5         9
6         5
7         3
9         1
16        1
Name: nbr_orders, dtype: int64

In [50]:
len(df_my_customer.loc[df_my_customer['nbr_orders'] > 1])/ len(df_my_customer)*100

3.0403520407626146

 ===> 3% des clients ont effectué plus que deux commandes !

In [50]:
## Création des fichiers csv pour l'analyse 
df_my_customer.to_csv('df_my_customer.csv',index=False)
df_my_orders_futur.to_csv('df_my_orders_futur.csv',index=False)